<!DOCTYPE html>
<html>
<head>
  <title>front end</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <h1>Greetings from  <%= city %></h1>

  <form action="/api/names" method="post">
    <input type="text" placeholder="Search for a name" name="data"/>
    <button type="submit">Show data</button>
  </form>

  <!-- <table>
    <tr>
      <th>Names!</th>
    </tr>
    <% names.forEach(function(name){ %>
      <tr>
        <td><%= name %></td>
      </tr>
    <% }); %>
  </table> -->

  <table>
    <tr>
      <th>Matched names</th>
    </tr>
    <% matchName.forEach(function(name){ %>
      <tr>
        <td><%= name %></td>
      </tr>
    <% }); %>
  </table>

  <script>
    $.ajax({
      url: "/api/names",
    }).done(function(data) {
      console.log(data);
    });
  </script>
</body>
</html>
