<!DOCTYPE html>
<html>
<head>
  <title>front end</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <h1>Greetings from  <%= city %></h1>

  <!-- Form to query all names for a match -->
  <form action="/api/names" method="post">
    <input type="text" placeholder="Search for a name" name="data"/>
    <button type="submit">Match string</button>
  </form>

  <!-- Button to get all names -->
  <button id="button">Display All Names</button>

  <!-- To display all names -->
  <table id="allNameTable">
    <tr>
      <th>All Names</th>
    </tr>
  </table>

  <!-- To display names that present a match -->
  <table>
    <tr>
      <th>Matched Names</th>
    </tr>
    <% matches.forEach(function(name){ %>
      <tr>
        <td><%= name %></td>
      </tr>
    <% }); %>
  </table>

  <script>
  //one-click button to query API
  var button = document.getElementById("button");
  button.addEventListener("click", function(e){
    showAllNames()
  }, {once: true});

  //to show all the names in the names.json file
  function showAllNames(){
    $.ajax({
      url: "/api/names", //GET route
    }).done(function(data) {
      let names = data.data.data.names; //all names from backend
    
      names.forEach(function(name){
        $("#allNameTable").append("<tr><td>"+ name +"</td></tr>");
      });
    });
  }
  </script>
</body>
</html>
