<!DOCTYPE html>
<html>
<head>
  <title>front end</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <h1>Greetings from  <%= city %></h1>

  <form action="/api/names" method="post">
    <input type="text" placeholder="Search for a name" name="data"/>
    <button type="submit">Show names</button>
  </form>

  <button onclick="showAllNames()">Show All Names</button>

  <table id="allNameTable">
    <tr>
      <th>All Names</th>
    </tr>
  </table>

  <table>
    <tr>
      <th>Matched Names</th>
    </tr>
    <tr>
      <td>name</td>
    </tr>
  </table>

  <script>
  function showAllNames(){
    $.ajax({
      url: "/api/names",
    }).done(function(data) {
      let names = data.data.data.names; //all names from backend

      names.forEach(function(name){
        $("#allNameTable").append("<tr><td>"+ name +"</td></tr>");
      });
    });
  }
  </script>
</body>
</html>
